@import "bootstrap";
@import '~bootstrap-icons/font/bootstrap-icons';
@import '~bs-dropzone/dist/dropzone.css';
@import "~@yaireo/tagify/dist/tagify.css";
body {
    background: #262a36;
}

.box{
    background: rgba(154, 154, 154, 0.3);
    padding: 2em;
    display: inline-block;
    border-radius: 10px;
}

.tray {
    width: 3em;
    margin: .2em;
    height: 3em;
    background: white;
}

.tray:hover{
    background: rgba(154, 154, 154, 0.3);
}

.tray-found{
    background: rgba(182, 9, 239, 0.39);
}

.shelf {
    border: black;
    display: inline-block;
    border-style: solid;
}

.shelfcontainer{
    display: inline-block;
}

.shelfrow {
    width: 100%;
    display: flex;
}

.shelfheader{
    background: rgba(154, 154, 154, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.shelfname{
    height: 0px;
}


.stuff-input{
    --tag-bg                  : #0052BF;
    --tag-hover               : #CE0078;
    --tag-text-color          : #FFF;
    --tags-border-color       : silver;
    --tag-text-color--edit    : #111;
    --tag-remove-bg           : var(--tag-hover);
    --tag-pad                 : .6em 1em;
    --tag-inset-shadow-size   : 1.35em;
    --tag-remove-btn-bg--hover: black;

    display: inline-block;
    min-width: 0;
    border: none;
}

.stuff-input .tagify__tag{
    margin-top: 0;
}

.stuff-input .tagify__tag > div{
    border-radius: 25px;
}

/* Do not show the "remove tag" (x) button when only a single tag remains */
.stuff-input .tagify__tag:only-of-type .tagify__tag__removeBtn{
    display: none;
}

.stuff-input .tagify__tag__removeBtn{
    opacity: 0;
    transform: translateX(-6px) scale(.5);
    margin-left: -3ch;
    transition: .12s;
}

.stuff-input .tagify__tag:hover .tagify__tag__removeBtn{
    transform: none;
    opacity: 1;
    margin-left: -1ch;
}

.stuff-input + button{
    color: #0052BF;
    font: bold 1.4em/1.65 Arial;
    border: 0;
    background: none;
    box-shadow: 0 0 0 2px inset currentColor;
    border-radius: 50%;
    width: 1.65em;
    height: 1.65em;
    cursor: pointer;
    outline: none;
    transition: .1s ease-out;
    margin: 0 0 0 5px;
    vertical-align: top;
}

.stuff-input + button:hover{
    box-shadow: 0 0 0 5px inset currentColor;
}

.stuff-input .tagify__input{
    display: none;
}
